<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>MediDoc Search - 新しい予約は来ました</title>
  </head>

  <body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellpadding="20" cellspacing="0" style="background-color: #ebe2df; font: 12px/18px &#39;Helvetica&#39;, sans-serif; color: #434343;">
        <tr>
            <td> <!-- Container table begins -->
                <table width="900" cellpadding="20" cellspacing="0" border="0" style="background-color: #fff; margin: 0 auto; margin-bottom: 60px;">
                    <tr>
                        <td  width="100%" style="font: normal 30px/30px &#39;Helvetica&#39;, sans-serif; background: #02A3CC; color: #fff; padding: 20px;" colspan="2">
                            MediDoc Search
                        </td>
                    </tr>
                    <tr>
                        <td style="font: 16px/10px 'Oxygen', Helvetica, sans-serif; color: #655C5A">
                            Thank you for your appointment<span th:unless="${customer.anonymous}" th:utext="${', ' + customer.firstName + ' ' + customer.lastName}" />!
                        </td>
                    </tr>
                    <tr>   <!-- Order summary table -->
                        <td width="100%" style="margin: 10px 0; padding: 10px; font: 14px/18px 'Oxygen', Helvetica, sans-serif; background-color: #1C3149; color: #fff; float: left; display: block;" colspan="2">
							予約情報
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"> <!-- Order summary sub-table -->
                            <table >
                                <thead style="padding: 0 5px; text-align: center; font: bold 10px/10px Helvetica, sans-serif; text-transform: uppercase; color: #333; vertical-align: top;">
                                    <tr>
                                        <th style="border-bottom: dotted 1px #afafaf;" align="left">Item</th>
                                        <th style="border-bottom: dotted 1px #afafaf;">Discount</th>
                                    </tr>
                                </thead>
                                <tbody style="font: 14px/16px 'Oxygen', Helvetica, sans-serif; color: #655C5A">
                                    <tr th:each="item : ${order.discreteOrderItems}" th:object="${item}" th:id="${'productRow' + item.id}" >
                                        <td align="left" style="padding: 5px 5px 5px 0">
                                            <span th:utext="*{product.name}"></span>
                                            <br/>
                                            <blc:product_option_display orderItem="${item}" >
                                                 <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                                                     <li th:each="entry: ${productOptionDisplayValues}">
                                                       <span  th:utext="${entry.key} + ': ' + ${entry.value}"></span>
                                                     </li>
                                                 </ul>
                                            </blc:product_option_display>
                                        </td>
                                        <td align="center" style="color: #00a3c8;" th:if="*{adjustmentValue.zero}">---</td>
                                        <td align="center" style="color: #00a3c8;" th:unless="*{adjustmentValue.zero}" >
                                             <span  align="center"  blc:price="*{adjustmentValue}" class="promotion" ></span>
                                             <div th:if="*{#lists.size(orderItemPriceDetails)>=1}" >
                                                <div th:each="orderItemPriceDetail : *{orderItemPriceDetails}" th:object="${orderItemPriceDetail}">
                                                    <div th:each="orderItemPriceDetailAdjustment : ${orderItemPriceDetail.orderItemPriceDetailAdjustments}" th:object="${orderItemPriceDetailAdjustment}" >                   
                                                        <span th:utext="*{offerName}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                        <td style="vertical-align: top;"> <!-- Order total sub-table -->
                            <table style=" margin: 0 0 10px 0; width: 290px; padding: 10px 20px; background-color: #ebe2df; color: #655C5A; float: right; font: 12px/18px 'Oxygen', Helvetica, sans-serif;">
                                <tr colspan="2">
                                    <td colspan="2" width="100%" style="border-bottom: dotted 1px #afafaf;" >
                                        <h3 style="font: 14px/18px 'Oxygen', Helvetica, sans-serif; margin: 10px 0 5px 0;padding: 0;">
											予約番号  <b><span th:utext="${orderNumber}" /></b>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  </body>
</html>
